@model RumoPatios.ViewModels.ResultadoOtimizaData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="tabelaResposta" class="container">
    <h1 class="text-center">
        
    </h1>
    <table class="table table-striped table-bordered table-responsive table-condensed table-hover sortable">
        <thead>
            <tr>
                <th class="text-center" style="font-size:x-large" colspan="2">
                    Resposta otimização
                </th>
            </tr>
            <tr>
                <th class="col-lg-3">
                    Horario
                </th>
                <th class="col-lg-9">
                    Ação
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.rows)
            {
                <tr>
                    <td>@item.horario.ToString("yyyy/MM/dd HH:mm")</td>
                    <td>@item.acao</td>
                </tr>
            }
        </tbody>
    </table>
</div>

